div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.App {
  /* Default background color for light theme */
  background-color: #ffffff;
}

.App.dark {
  /* Background color for dark theme */
  background-color: #333333;
}

/* Assuming .toggle-button is used within .App or relevant parent container */
.toggle-button {
  position: absolute;
  z-index: 10;
  top: -440px;
  left: 290px; /* Adjust left position as needed */
}

@media (min-width: 600px) {
  .toggle-button {
    top: 10px; /* Adjust top position for smaller screens */
    left: 10px; /* Adjust left position for smaller screens */
  }
}

